{erl_opts, [debug_info]}.
{src_dirs, ["src", "src/controllers"]}.

{deps, [
        {nova, {git, "https://github.com/novaframework/nova.git", {branch, "master"}}}
        ]}.

{erlydtl_opts, [{doc_root, "src/views"}, {recursive, true}]}.

%% Plugins for rebar3
{plugins, [
          rebar3_auto,
           {rebar3_erlydtl_plugin, ".*",
            {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
          ]}.


{relx, [{release, {"nova_admin-dev", "0.1.0"},
         [nova_admin]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.

{provider_hooks, [
                  {pre, [{compile, {erlydtl, compile}}]}
                 ]}.
