[
 {nova_admin, [{nova_applications, [
                                     #{
                                       name => nova_admin,
                                       routes_file => "priv/nova_admin.routes.erl"
                                      }
                                    ]},
               {web_port, 8081}]}
].
